/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/* Main css */
* { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
@font-face {
  font-family: 'Gotham-light';
  src: url("gotham/Gotham-Light.ttf");
}
@font-face {
  font-family: 'Gotham-medium';
  src: url("gotham/Gotham-Medium.ttf");
}
@font-face {
  font-family: 'Gotham-xlight';
  src: url("gotham/Gotham-XLight.ttf");
}

body {
    font-family: 'Gotham-light', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 17px;
    line-height: 25px;
}
h1 {
    background: url("images/headline.png") no-repeat;
    width: 268px;
    height: 49px;
    text-indent: -10000px;
    margin: 20px auto 30px;
}
a {
    color: #85629d;
    text-decoration: none;
    font-family: 'Gotham-medium', sans-serif;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 15px 0;
}
p.larger {
    font-size: 22px;
    line-height: 28px;
    font-family: 'Gotham-xlight', sans-serif;
    color: #000;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}

/* Photo and social media icons */
.links {
    width: 120px;
    margin: 0 auto;
}
.links a {
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -10000px;
    float: left;
    margin: 0 5px;
}
.links .twitter a {
    background: url("images/twitter_logo.png") no-repeat;
}
.links .linkedin a {
    background: url("images/linkedin_logo.png") no-repeat;
}

/* Profile image */
.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    margin: 0 auto 10px;
    background: url("images/tobias-haugen.png") no-repeat;
}
.profile-image img {
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Other */
.wrapper {
    width: 550px;
    margin: 30px auto;
    max-width: 100%;
    padding: 0 30px;
    text-align: center;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    h1 div {
        margin-top: 15px;
    }
    ul li {
        display: block;
        margin: 15px 0;
    }
}