/**
 * Main css
 */
* { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #939597;
}
a {
    color: #85629d;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.wrapper {
	width: 550px;
    margin: 50px auto;
    max-width: 100%;
    padding: 0 30px;
    text-align: center;
}

h1 {
    background: url("headline.png") no-repeat;
    width: 268px;
    height: 49px;
    text-indent: -10000px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
}

@media (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
    h1 {
        font-size: 40px;
    }
    h1 div {
        margin-top: 15px;
    }
    ul li {
        display: block;
        margin: 15px 0;
    }
}