/*
 * Minor CSS reset.
 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0 0 5px 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*
 * Styling
 */
p {
  margin-bottom: 20px;
}

#profile-pic {
  display: block;
  margin: 40px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.content {
  width: 600px;
  margin: 0 auto 40px;
  max-width: 100%;
}

.content footer {
  text-align: center;
  padding: 10px 0;
}
